@model Program.RegisterRequest
@{
    ViewBag.Title = "Register";
}
<div class="container">
    <div asp-validation-summary="All"></div>
    <form id="reg-form" asp-action="Register" method="post" asp-route-returnUrl="@(ViewBag.ReturnUrl ?? "/")">
        <label asp-for="Username">Login</label>
        <input asp-for="Username" />
        <label asp-for="Name">Name</label>
        <input asp-for="Name" />
        <label asp-for="Password">Password</label>
        <input asp-for="Password" type="password" />
    </form>
    <button type="submit" form="reg-form">Register</button>
</div>

<style>
    .field-validation-error {
        color: red;
    }

    /* Input field */
    input.input-validation-error {
        border: 1px solid #b94a48;
    }

    input.valid {
        border: 1px solid #16a085;
    }

    /* ValidationSummaryTagHelper */
    .validation-summary-errors {
        color: #b94a48;
    }
    .container {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: fit-content;
    }
    #reg-form {
        display: grid;
        gap: 5px;
        grid-auto-flow: row;
        grid-template-columns: max-content 1fr;
    }

    reg-form label {
        font-size: 20px;
    }

    reg-form input {
        padding: 5px 30px;
    }

    .container button {
        margin-left: auto;
        padding: 5px 15px;
    }
</style>