@{
    ViewBag.Title = "Items";
}
@using MediatR;
@using Application.Logic.Item;
@inject IMediator mdtr;
@{
    var itemsList = await mdtr.Send(new GetAllItemsQuery());
    foreach(var item in itemsList)
    {
        <div>
            @item.Name
        </div>
    }
}