@model Program.ViewModels.UserViewModel
@{
    ViewBag.Title = "User info";
}
<div class="user-cont">
    <h1>User @Model.Name</h1>
    <h1>User @Model.Username</h1>
    <h1>User @Model.RegisterDate</h1>
</div>
<style>
    .user-cont{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .user-cont h1{
        font-size: 24px;
        font-weight: normal;
    }
    .user-cont h1:nth-child(1):before{
        content: "Name: ";
        font-weight: bold;
    }

    .user-cont h1:nth-child(2):before {
        content: "Username: ";
        font-weight: bold;
    }

    .user-cont h1:nth-child(3):before {
        content: "Register date: ";
        font-weight: bold;
    }
</style>