@page
@model Auction.ViewModels.HomeViewModel
@using MediatR;
@using Application.Logic.Lot;
@inject IMediator mdtr;
@{
    ViewBag.Title = "Home";
}
<div class="lots-container">
    @{
        var lotsList = await mdtr.Send(new GetAllLotsQuery());
        foreach (var lot in lotsList)
        {
            <div data-id="@lot.Id" class="lot-item">
                <h1>Lot</h1>
                <h1>@lot.Id</h1>
            </div>
        }
    }
</div>

<style>
    .lots-container{

    }
    .lot-item{

    }
</style>
