<div class="header-container">
    <div class="icon">
        <img src="~/images/icon.svg"/>
    </div>
    <a asp-controller="home" asp-action="index">Home</a>
    <a asp-controller="home" asp-action="about">About</a>
    <a>Contacts</a>
    <a>FAQ</a>
    <a href="https://finance.mail.ru/card/skam-1074/">Returm my money!!!</a>
    <a asp-controller="user" asp-action="index">Account</a>
</div>

<style>
    .header-container{
        box-shadow: 2px 1px  5px 5px gray;
        background-color: rgba(240, 240, 240, 0.4);
        backdrop-filter: blur(2px);
        min-height: 60px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 10px 50px 10px 10px;
        gap: 20px;
    }
    .header-container a {
        font-size: 20px;
        font-weight: inherit;
        text-decoration: inherit;
        color: inherit;
        transition: letter-spacing 0.4s ease;
    }
    .header-container a:hover{
        color: gray;
        letter-spacing: 1px;
    }
    .header-container .icon{
        margin-right: auto;
    }
    .header-container .icon img{
        height: 80px;
    }
    .selectedPage {
        text-decoration: underline !important;
    }
    @@media(max-width: 700px){
        .header-container a {
            font-size: 18px;
        }
        .header-container .icon img {
            height: 60px;
        }
        .header-container{
            gap: 10px;
        }
    }
    @@media(max-width: 550px) {
        .header-container a {
            font-size: 14px;
        }

        .header-container .icon img {
            height: 50px;
        }

        .header-container {
            gap: 5px;
        }
    }
</style>

<script>
    const currentPageName = '@ViewBag.SelectedPageName?.ToString()'
    $(function () {
        $('a').filter(function () {
            return $(this).text() === currentPageName
        }).addClass('selectedPage');
        $('.icon').click(function () {
            $(this).stop(true,false).animate({ opacity: 0.5 })
            .animate({ opacity: 1 })
        });
    });
</script>