<!DOCTYPE html>
<html>
<head>
    @await Html.PartialAsync("_MetaPartial")
</head>
<body>
    @await Html.PartialAsync("_HeaderPartial")
    <div class="page">
        <div class="main-content">
            @RenderBody()
        </div>
    </div>
</body>
</html>